/* Create-Certificates-styles-start */

.certificates-modal-container .ant-modal-content .ant-modal-body {
    min-height: 220px;
}

.certificates-modal-container .ant-upload-picture-card-wrapper {
    min-height: 112px;
}

.certificates-modal-container .ant-input-textarea {
    margin-bottom: 12px;
}

.certificates-modal-container .ant-form-item {
    margin-bottom: 12px;
}

.certificates-modal-container .footer-buttons {
    justify-content: end;
    width          : 100%;
}

.ant-message {
    z-index: 1060 !important;
}

/* ComposeCertificate-styles-end */