.card_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 0;
    position: relative;
    .hello{
        position: absolute;
        background: #000;
        right: 5%;
        z-index: 9879;
    }
}