.card_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    position: relative;
    .ant-card{
        .ant-card-body{
            width: 300px;
        }
    }
}