@mixin borderBox {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  padding: 10px;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.events-modal-scrollbar {
  overflow-y: auto;
  max-height: 75vh;
  padding: 0 24px;
}
.events-create-box {
  @include borderBox();
  list-style: none;
  margin: 5px 0;
  &:hover {
    border-right-width: 1px !important;
    border-color: #8c4356;
    box-shadow: 0 0 0 2px rgb(127 41 65 / 20%);
    border-right-width: 1px;
    outline: 0;
  }
}
.events-editor-box {
  @include borderBox();
  &:hover {
    border-color: #8c4356;
    border-right-width: 1px !important;
    outline: 0;
  }
  .rdw-colorpicker-modal {
    right: 0 !important;
    left: -150px !important;
  }
}
.events-create-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.events-create-modal {
  .ant-modal-body {
    padding: 0;
  }
}
.events-modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .events-modal-footer-item {
    width: 100%;
    align-self: flex-end;
  }
}
.events-upload {
  .ant-upload-list {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .ant-upload-list-item {
    margin-right: 10px;
  }
}
.events-fields {
  .ant-tabs {
    overflow: unset;
  }
}
