.create-modal-scrollbar {
  overflow-y: auto;
  max-height: 70vh;
  padding: 24px;
}
.event-create-box {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 5px 0;
  padding: 10px;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &:hover {
    border-color: #31abe8;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(10 143 220 / 20%);
  }
}
.event-create-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.event-create-modal{

  .ant-modal-body{
    padding: 0;
  }
}