.event-modal-video{
    width:100% !important;
    max-height:100vh !important;
}
.event-video-slide {
  position: relative;
  padding-bottom: 0;
  height: 100%;
  min-height: 250px;
}

.slick-slider {
  position: relative;
  .slick-prev {
    margin-left: 30px;
    position: absolute;
    z-index: 999;
  }
  .slick-next {
    margin-right: 40px;
    position: absolute;
    z-index: 999;
  }
}
