.certificates-modal-container .ant-modal-content .ant-modal-body {
    min-height: 220px;
}

.certificates-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.certificates-title-container .ant-typography {
    margin-bottom: 0;
}

.certificates-modal-container .upload {
    min-height: 55px;
}

.certificates-modal-container .ant-input-textarea {
    margin-top: 12px;
}


.ant-message {
    z-index: 1060 !important;
}